appnope
asttokens
autocorrect
click
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
fonttools
inexactsearch
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
jupyter
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
pyspellchecker
python-dateutil
pytz
pyzmq
RapidFuzz
regex
silpa_common
six
soundex
stack-data
tornado
tqdm
traitlets
typing_extensions
tzdata
Unidecode
wcwidth
wordcloud
category_encoders